@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_2109316_djukdswm8mp.eot?t=1607072442923');
  /* IE9 */

  src: url('//at.alicdn.com/t/font_2109316_djukdswm8mp.eot?t=1607072442923#iefix') format('embedded-opentype'),
    /* IE6-IE8 */

  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKgAAsAAAAABlAAAAJTAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApYcgE2AiQDCAsGAAQgBYRtBzQbnAUR1Ytpsp8D7mayZFwkY1uf2y1jrR4zOCs9kjIzcwdP336vd3bn/WyAQUYigCoAqeicClNdVWFaBwz2b27WtzUqQrEk9pffuiOdQLgQfsAGHEFgmwzmmyyLHwA+z+X0JtCBtD5QbnvSWJOPegHGWwPdA6MtXEIZN0wvX9BAnocAQaRRgtQ1tPXhUPQ0AWRteXEalwuhKMs6BF/NWkWu4eHMeXNbcTX8vnwZxIHBs+i6roX6Oarex5g8e8x/bMwnCIOANnuABUoABemrTXVgEcZZgrYrWYCiCLyP8R87kb3aEPbX6coQAFKg/J4UTnmrlQYAhYPxQPaoN4OqiZDR4xIcI+sL7N593L0bm7/74H2vkcXL35SSUf4bp1/b6zBQ1daZ/UqRbvnQvoDjXLtW5aQK/8weM3sIIHD95pbJ8LJ/LlgBePKThFalnwfcznQyUvZTFD0bVKi0yWxejtyG+EwRBggSXvzaF8XzsebYO8gJjtj78ASQmsLiyCGVLYFHMKXw4ahEEMU0bg4mmh0sooFAEacBhAhuwBDGLVgiuEMq+wwecXyDjwixCGJAovcMJk/ErI+MRtCD/UN2tATrEh1V3zDuk+GsKhS8kLcchb7pitkrLshzLNg+cRAJEJhmuIDLcJoIVqaCTpokso5tG+pu1DialVZHRiPowf4hO1qC31p06fM3jPtkuIWXS7+Qtzw89E3Xg7zql168e7lm+8RBJEBgmuECRuE0Eaz1owo6adKIxDq2plnoq2/WN85ftw0IUtpiDmaZRZe88O4NWVIKAAAA') format('woff2'), url('//at.alicdn.com/t/font_2109316_djukdswm8mp.woff?t=1607072442923') format('woff'), url('//at.alicdn.com/t/font_2109316_djukdswm8mp.ttf?t=1607072442923') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */

  url('//at.alicdn.com/t/font_2109316_djukdswm8mp.svg?t=1607072442923#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jin-rud-ao-bo:before {
  content: "\e614";
}
