@import "src/icons/static/iconfont/index";
// 表格布局
@mixin bomCreate{
    padding: 20px;
    display: flex;
    flex-direction: column;
  // 搜索框手势操作
  .input-width{
    width: 10vw;
    margin-right: 10px;
  }
  .el-input__icon {
    cursor: pointer;
  }
  .icon-jin-rud-ao-bo:hover{
    cursor:pointer;
    color: #409eff;
  }
  .pagination-container{
    display: flex;
    justify-content: center;
  }
  .bom-form{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    .materiel-code{
      font-weight: bold;
      font-size: 14px;
      color: #606266;
      line-height: 40px;
      padding: 0 12px 0 0;
    }
  }
  .header-card {
    margin-bottom: 20px;
    .tool {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 10px;
    }
  }
  .input-width ::v-deep .el-input__inner{
    color: black;
  }
  .organization{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    .text-margin{
      margin:0 10px;
    }
    .summation{
      margin-left: 10px;
      .color-text{
        color: #409eff;
      }
    }
  }
  .table-content {
    margin-top: 20px;
  }
  .dialogClass ::v-deep .el-dialog__body {
    padding: 0 20px;
  }
  .dialogForm {
    display: flex;
    flex-direction: row;

    .search-dialog {
      height: 28px;
      margin-left: 17px;
    }
  }
}
